# Python files
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Data and notebooks
data/raw/
data/processed/

# Linting/tooling cache
.ruff_cache/

lora_adapter/
outputs/
merged_model/
wandb/

# IDE and system files
.vscode/
.idea/
.DS_Store